.container-fluid{
   /* position: absolute;*/
  }
  
  .login-card{
    position: relative;
    top: 20rem;
    border: 1px solid khaki;
    margin: auto;
    width: 20%;
    padding: 15px;
  }
  
  input {
      border: 2px solid;
      border-radius: 4px;
      font-size: 1rem;
      margin: 0.25rem;
      min-width: 125px;
      padding: 0.5rem;
      transition: border-color 0.5s ease-out;
    }
    input:optional {
      border-color: gray;
    }
    input:required:valid {
      border-color: green;
    }
    input:invalid {
      border-color: red;
    }
    input:required:focus:valid {
      background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% #f8f9fa;
      background-size: 25px;
    }
    input:focus:invalid {
      background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% #f8f9fa;
      background-size: 25px;
    }

    .custom-required {
      color:red;
    
    }

    .content-card-container{
      border : 2px solid lightskyblue;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .content-header {
      font-weight: 600;
      font-size : 25px;
    }

    .content-synopse {
      white-space: nowrap; 
      /*max-height: 150px;*/
      overflow:hidden;
      text-overflow: ellipsis;
    }

    .blog-title {
      font-size: 20px;
      font-weight: 600;
    }

    .blog-body{
      /*max-height: 150px;*/
      max-height: 100%;
      overflow:hidden;
      text-overflow: ellipsis;      
    }

    .account-options {
      display: flex;
      padding-left: 10px;
    }
    .account-options:hover{
      cursor: pointer;
      color: #1e2125;
      background-color: #e9ecef;
    }
    
    .material-symbols-outlined{
      padding-right: 5px;
    }

    /*******Media Queries*****************/
    @media screen and (max-width: 768px) {
      /*.content-card-container{
        width: 100%;
        margin-right: 0px;
        }*/
       
        .login-card{
          width: 60%;
        }
    }

    @media screen and (max-width: 480px) {
    
      .login-card{
        top:10rem;
        width: 100%;
      }
  }
  

