<!--header style ="border-block-end: 1px solid">
    <div class ="row">
        <div class ="col text-end">
          <form id="searchQuery" action="/search" method="POST">
              <input type="text" name="searchQuery" placeholder="Enter your search">
          </form>
        </div>
        <div class ="col">
            <button class ="btn btn-xs btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#blogModal">Add New Content <i class ="fa fa-add"></i></button>
        </div>
        <div class ="col text-end">
            <div class="dropdown">
                <button type="button" id ="logoutId" class ="mt-2" data-bs-toggle="dropdown" aria-expanded="false">
                  <img draggable="false" alt="Avatar image" height="32" width="32"src ="https://yt3.ggpht.com/yti/AGOGRCoPNLGT_fH41pRre4kxvE__v3zVT60pcoaNbQ=s88-c-k-c0x00ffffff-no-rj-mo">
                </button>
                <ul class="dropdown-menu" aria-labelledby="logoutId">
                  <li><button class="dropdown-item" type="button">Action</button></li>
                  <li><button class="dropdown-item" type="button">Another action</button></li>
                  <form method="POST" action="/logout?_method=DELETE"> 
                    <li><button class="dropdown-item" type="submit">Log Out</button></li>
                  </form>
                </ul>
            </div>
        </div>
    </div>
</header-->
<div class="mt-4 ms-3">
  <div class ="row">
    <% blog_list.forEach(function(item, index) { %>
      <div class ="col-4 content-card-container" uid ="<%= item._id%>" >
        <div class ="row">
          <div class ="col-4">
            <img src="uploads/blog images/<%= item.blogImage || "" %>" alt="Girl in a jacket" width="200" height="200">
          </div>
          <div class ="col-8">
              <div class ="row">
                <div class ="content-header">
                  <%= item.title || "" %>
                </div>
                <div class ="content-synopse">
                  <%= item.content || "" %>  
                </div>
              </div>
          </div>
        </div>
   </div>
  <% }); %>
</div>

<!-- Modal -->
<div class="modal fade" id="blogModal" tabindex="-1" aria-labelledby="blogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="blogModalLabel">Blog Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="/blog-create" method="post" enctype="multipart/form-data">
          <div class ="row">
            <div class ="col-12">
              <label class ="form-label">Title <span class ="custom-required">*</span></label>
              <input type ="text" id="blog-title" class="form-control" name ="title" placeholder="Enter Blog Title"/>
            </div>
            <div class ="col-12">
              <label class ="form-label">Content <span class ="custom-required">*</span></label>
              <textarea type ="text" id="blog-content" rows="5" style="resize: none;" name ="content" class="form-control" placeholder="Enter Blog Content"></textarea>
            </div>
          <div class ="col-12">
            <label class ="form-label">Upload Image</label>
              <!--input type ="file"   name ="blogImage" placeholder="Enter Blog Content"></input-->
              <input type="file" id="blog-img-upload-text" class="form-control" name="blogImage"/>
              <button id ="blog-img-upload" type="submit">upload</button>
          </div>
          </div>  
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button"  class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script>
          const form = document.querySelector('#searchQuery');
      const input = document.querySelector('input[name="searchQuery"]');

      // Debounce the form submission
      const debouncedSubmit = _.debounce(() => {
          form.submit();
      }, 1000); // Adjust the delay as needed

      input.addEventListener('input', () => {
          debouncedSubmit();
      });

      $("#platformMainDiv .content-card-container").on("click",(e)=> { 
        let requiredTag = e.currentTarget;
        //console.log($(requiredTag).children(".content-header").text());
        let id = $(requiredTag).attr("uid");
        //window.location.href = '/blogs/?id='+id;
        window.location.replace('/blogs?id=' + id);

      });
  </script>